RewriteEngine On

# 1. Pastikan folder atau file asli tetap bisa diakses normal
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 2. Ubah localhost/linktree/username menjadi localhost/linktree/u.php?user=username
RewriteRule ^([^/]+)$ u.php?user=$1 [L,QSA]

RewriteEngine On
RewriteRule ^s/([a-zA-Z0-9_-]+)$ short.php?code=$1 [L]